/** {
    outline: 1px solid blue;
}*/
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 600px}

/* Set gray background color and 100% height */
.sidenav {
  margin-top: -20px;
  background-color: #ffc266;
  height: 550px;

}
.btn-lg {
  font-family: 'Eczar', serif;
  font-size: 24px;
  background-color: rgb(238, 127, 107);
}
/*Background image*/
body {
  background-image:
  url(https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);

}



/* Set black background color, white text and some padding */
footer {
  text-align: left;
  font-family: 'Eczar', serif;
  font-size: 20px;
  background-color: #555;
  color: white;
  padding: 15px;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
  height: auto;
  padding: 15px;
}
.row.content {height: auto;}
}
#map {
  width: 960px;
  height:500px;
}

header{
font-family: 'Eczar', serif;
text-align: center;

}
h1 {
  font-family: 'Eczar', serif;
  font-size: 80px;
  text-align: left;
  color: white;
  padding-top: 20px;
  padding-left: 10px;
}
h2 {
  font-family: 'Eczar', serif;
  font-size: 45px;
  text-align: center;
  color: white;
}
h3 {
  text-align: left;
  font-size: 30px;
}
.list-group {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;

}
#map {
   	margin-left:auto;
   	margin-right:auto;
   	display:block;

}
.page-header {
   margin-top: -20px;
   background-color: rgb(238, 127, 107);
   font-family: 'Caveat Brush', cursive;
	text-align: center;
}
/*Contact Form*/
.main-section {
  font-family: 'Special Elite', cursive;
  margin:auto;
  display:block;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}
